*{
    margin: 0;
   /* font-family: Arial, Helvetica, sans-serif;*/
    border: border-box;
   /*background-color: #2B2730;*/
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}
.navigation{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #2B2730;
}
.main-options{
    position: absolute;
    top:5%;
    left: 30%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}
.introduction{
    display:flex;
    background-color: #2B2730;
}
.intro-pic{
    height: 640px;
    width: 550px;
    /*border: 2px solid black;*/
    position:absolute;
    right: 0%;
}
.intro-words{
    height: 640px;
    width: 60%;
    position:relative;
    top: 15%;
    /*border:2px solid black;*/
}
.hello,.name,.profession{
    color: white;
    font-size: 5rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.name-color{
    color: rgb(86, 86, 187);
    font-size: 5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.name-color a{
    text-decoration: none;
    color: rgb(86, 86, 187);
    font-size: 5rem;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.name-color a:hover{
    color: red;
    border-bottom: 3px solid red;
}
.intro-words p{
    position: relative;
    top: 10%;
    left: 5%;
}
.welcome{
    position: relative;
    left: 30%;
    color:grey;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}
.main-options div a{
    text-decoration: none;
    color: white;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.main-options div a:hover{
    color: rgb(86, 86, 187);
    transition-property: all;
    border-bottom:2px solid rgb(86, 86, 187); ;
}
.more-about{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.profession{
    margin-bottom: 80px;
}
.page1{
    background-color: #2B2730;
}
.my-projects{
    height: 1650px;
    width: 100%;
    background-color: #351c3a;
}
.heading-text{
    display: inline;
    position: relative;
    top: 20px;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-size: 6rem;
    color: white;
}
.my{
    position: relative;
    top: 40px;
    /*font: Arial, Helvetica, sans-serif;*/
    font-size: 6rem;
    text-align: center;
    color: white;
}
.projects{
    color: rgb(86, 86, 187);
}
.my-projects-section{
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    background-color: white;
    padding: 20px 0px 15px;
    /*border:2px solid black;*/
    height: 590px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 40px;
    transition-property: all;
    transition-duration: 3s;
}
.box:hover{
    background-color: rgb(59, 59, 150);
    color: white;
    height: 610px;
    width: 32%;
}
.box_content h2{
    position: relative;
    left: 7%;
    margin-bottom: 30px;
    height: 20%;
}
.subheadings{
    display: flex;
    color: grey;
}
.Collaborators{
    position: relative;
    left: 6%;
    margin-bottom: 7px;
}
.Languages{
    position: relative;
    left: 35%;
}
.specifications{
    display: flex;
    color: black;
}
.Collaborators-name{
    position: relative;
    left: 6%;
    margin-bottom: 10px;
    height: 40px;
    width: 50%;
}
.Languages-name{
    position: relative;
    left: 14%;
    text-wrap: wrap;
    height: 40px;
    width: 35%;
    margin-bottom: 20px;
}
.page-2{
    border-top: 10px solid rgb(69, 69, 143);
    font-family: 'Graduate', serif;
}
.Visit{
    color: rgb(187, 53, 187);
    /*background-color: #6b3876;*/
    font-weight: 500;
    position: relative;
    left: 6%;
    height: 40px;
    width: 40%;
    border: 3px solid violet;
    border-radius: 10px;
    text-align: center;
}
.Visit p{
    font-weight: 700;
    font-size: larger;
}
.Visit a{
    text-decoration: none;
    color: rgb(187, 53, 187);
    transition-property: all;
    transition-duration: 1s;
}
.Visit:hover{
    background-color: #351c3a;
    color: black;
}
.page-3{
    height: 1450px;
    width: 100%;
    background-color: #46234d;
    font-family: 'Graduate', serif;
    text-transform: none;
    border-top: 10px solid rgb(69, 69, 143);
    border-bottom: 10px solid rgb(69, 69, 143);
}
.skillsand{
    position: relative;
    top: 40px;
    /*font: Arial, Helvetica, sans-serif;*/
    font-size: 5rem;
    text-align: center;
    color: white;
}
.achievments{
    color: rgb(86, 86, 187);
}
.grid-container{
    position: relative;
    left: 4.5%;
    top: 150px;
    height: 1150px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.item{
    background-color: rgb(245, 189, 189);
    border-radius: 5px;
    transition-property: all;
    transition-duration: 2s;
}
.item:hover{
    background-color: rgb(59, 59, 150);
    color: white;
}
.item img{
    float: left;
}
.one{
    grid-column: span 2;
}
.five{
    grid-row: span 2;
}
.six{
    grid-column: span 2;
}
.skill-header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}
.skill-desc{
    position: relative;
    top: 2%;
    left: 3%;
    text-wrap: wrap;
    align-content: center;
}
.place{
    color: grey;
    font-size: 25px;
    text-align: center;
    margin-bottom: 3px;
}
.period{
    color: grey;
    font-size: 15px;
    text-align: center;
    margin-bottom: 7px;
}
/*.floatimg{
    float: left;
}*/
.skill-header1{
    margin-bottom: 5px;
    font-size: 50px;
    text-align: center;
}
.location{
    text-align: center;
    font-size: 20px;
    color: grey;
}
.contact-form{
    background-image:url(bg21.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    font-family: 'Graduate', serif;
    text-transform: none;
}
.cont{
    position: relative;
    top: 40px;
    /*font: Arial, Helvetica, sans-serif;*/
    font-size: 5rem;
    text-align: center;
    color: white;
}
.intro-text{
    color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 10%;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.6);
    justify-content: center;
    justify-self: center;
}
.intro-text{
    text-align: center;
}
.name input{
    height: 40px;
    width: 25%;
    background-color: rgb(0,0,0,0.6);
    color: white;
    font-family: 'Graduate', serif;
    font-size: large;
    position: relative;
    left: 20%;
    top: 30%;
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
}
.name{
    position: relative;
    top: 15%;
}
.email{
    position: relative;
    top: 25%;
}
.email input{
    height: 40px;
    width: 25%;
    background-color: rgb(0,0,0,0.6);
    color: white;
    font-family: 'Graduate', serif;
    font-size: large;
    position: relative;
    left: 20%;
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
}
.subject{
    position: relative;
    top: 35%;
}
.subject input{
    height: 40px;
    width: 25%;
    background-color: rgb(0,0,0,0.6);
    color: white;
    font-family: 'Graduate', serif;
    font-size: large;
    position: relative;
    left: 20%;
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
}
.message{
    position: relative;
    top: -5%;
}
.message input{
    height: 280px;
    width: 25%;
    background-color: rgb(0,0,0,0.6);
    color: white;
    font-family: 'Graduate', serif;
    font-size: large;
    position: relative;
    left: 60%;
    border: 2px solid white;
    border-radius: 10px;
    text-align: left;
    text-justify: top;
}
.message ::-webkit-input-placeholder{
    position: relative;
    top: -42%;
}
::-webkit-input-placeholder{
    position: relative;
    left: 2.5%;
}
.submit{
    background-color: white;
    color: black;
    height: 40px;
    width: 10%;
    position: relative;
    left: 45%;
    top: 2%;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
.submit:hover{
    background-color:rgb(86, 86, 187);
    color: white;
}